<header>
  <img src="assets/img/pedro.jpeg" alt="Foto de Perfil" width="130px" height="130px" loading="eager">
  <h1>Pedro Uchôa</h1>
</header>

<aside>
  <div class="container">
    <p>Full-stack Typescript | Angular | Java | Spring Boot</p>
    <p>Lavras da Mangabeira, Ceará, Brasil</p>
    <p>Desenvolvedor backend Java, atualmente cursando Sistemas de Informação. Estudante dedicado com sólida formação
      acadêmica
      e paixão por programação. Destaco minhas habilidades em Java, SQL e frameworks como Spring, adquiridas tanto em
      sala de
      aula quanto em projetos práticos. Ansioso para aplicar meu conhecimento teórico e habilidades técnicas em um
      ambiente
      profissional desafiador, contribuindo para o sucesso de projetos inovadores.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="assets/pdf/cv.pdf" target="https://www.linkedin.com/in/pedrouchoa/" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <nav>

      <section>
        <figure>
          <img src="assets/icons/whatsapp.svg" alt="Icone para contato do WhatsApp" width="22px" height="24px">
          <figcaption>
            <a href="https://api.whatsapp.com/send?phone=88993517965">
              <strong>Envie uma mensagem para:</strong>
              <p>WhatsApp: (88) 9 9351-7965</p>
            </a>
          </figcaption>
        </figure>
            <figure>
              <img src="assets/icons/mail.svg" alt="Icone para contato do WhatsApp" width="22px" height="24px">
              <figcaption>
                <a href="mailto:joaopedrouchoacamposolimpio@gmail.com" target="_blank">
                  <strong>Envie uma e-mail para:</strong>
                  <p>joaopedrouchoacamposolimpio&#64;gmail.com</p>
                </a>
              </figcaption>
            </figure>
      </section>

    </nav>

  </div>
</aside>
